.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.noselect {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
}

.chart circle {
    fill: steelblue;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}

.bottom-margin {
    margin-bottom: 47px;
}